.row{
  display:flex;
  justify-content:right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-song-wrap{
  background:linear-gradient(gold, black);
}

body{
  background:linear-gradient(black, gold);
}



